* {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #2f027e;
  color: azure;
}

h1 {
  margin: 10px 0px;
  text-align: center;
}

