* {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #2f027e;
  color: azure;
}

h1 {
  background-color: blueviolet;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-field-container {
  border-bottom: solid 2px;
  padding-bottom: 10px;
  width: 25%;
  /* height: 100vh; */
}

#search-form-div {
  border: solid 1px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 199px;
}

#search-form {
  }