* {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 0px;
  margin: 0px;
}


body {
  background-color: #2f027e;
  color: azure;
}


header {
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
}


h1 {
  font-size: 40px;
}


header a {
  text-decoration: none;
  color: azure;
}


header a:hover {
  cursor: pointer;
}


header a:active {
  color: #2f027e;
}


input, #get-weather-btn {
  height: 20px;
  margin: 0px 5px;
}


#search-field-container {
border-bottom: solid 2px;
border-top: solid 2px;
margin-bottom: 10px;
width: 100%;
height: 40px;
display: flex;
align-items: center;
justify-content: center;
}


#get-weather-btn {
  height: 24px;
  width: 100px;
  background-color: azure;
  border: none;
}


#get-weather-btn:hover {
  background-color: #2f027e;
  color: azure;
  border: none;
  cursor: pointer;
}


#current-weather, #forecast, #past-searches {
  border: 1px solid azure;
  padding: 20px;
  margin: 20px;
}

#current-weather h3 {
  text-decoration: underline;
}


#forecast-content {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  }


#past-searches-list {
  text-decoration: none;
}


.forecast-card {
  border: 1px solid azure;
  padding: 15px;
  flex: 1 1 calc(20% - 15px); /* Adjust card width and spacing */
  box-sizing: border-box;
  text-align: center;
}
